:root {
    --primary-color: #0A1128;
    --secondary-color: #0ADFE7;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gray-color: #6E7373;
    --footer-color: #700B36;
    --heart-color: #F50F0F;
    --gap: 3rem;
}